<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>task-management-web</display-name>
  <welcome-file-list>
    <welcome-file>views/project.jsp</welcome-file>
  </welcome-file-list>
  
    <servlet>
		<servlet-name>client</servlet-name>
		<servlet-class>com.everis.taskmanagement.servlet.ClientServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>client</servlet-name>
		<url-pattern>/client</url-pattern>
	</servlet-mapping>
  
  <servlet>
		<servlet-name>project</servlet-name>
		<servlet-class>com.everis.taskmanagement.servlet.ProjectController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>project</servlet-name>
		<url-pattern>/project</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deleteClient</servlet-name>
		<servlet-class>com.everis.taskmanagement.servlet.ClientDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteClient</servlet-name>
		<url-pattern>/deleteClient</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>updateClient</servlet-name>
		<servlet-class>com.everis.taskmanagement.servlet.ClientUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateClient</servlet-name>
		<url-pattern>/updateClient</url-pattern>
	</servlet-mapping>
	
</web-app>